.mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slideshowContainer {
    max-width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
    overflow: hidden;
    padding: 15vh 0 15vh 0;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnailContainer {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
}

.thumbnail {
    width: 100px;
    height: 60px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    object-fit: cover;
    opacity: 0.7;
}

.thumbnail:hover {
    opacity: 1;
    transform: translateY(-5px);
}

.activeThumbnail {
    border-color: #fff;
    opacity: 1;
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .thumbnailContainer {
        gap: 5px;
        padding: 10px;
    }

    .thumbnail {
        width: 60px;
        height: 40px;
    }
}

.dotsContainer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.dot:hover {
    background-color: #717171;
}

@media (max-width: 768px) {
    .dot {
        height: 12px;
        width: 12px;
    }

    .dotsContainer {
        bottom: 15px;
    }
}
